html
  head
    script(type="text/javascript" src=script)
  body
    h2 Hello demo

    p
      div#greet ...
      button(
        onclick="hello.solarSystem.greet()"
      ) Click me repeatedly!

    p
      div#explain ...
      button(
        onclick="hello.solarSystem.explain()"
      ) Click me repeatedly!
