html 
  head

  body
    div 
      form(action="/convert", method="post")
        input(type="text" name="name")
        input(type="text" name="html")
        textarea(name = "python", rows="50", cols="80")
        input(type="submit")